<h1>Add a movie</h1>
<%= form_for @movies do |m| %>
  <p>
    <%= m.text_field :director, placeholder: "Director Here" %>
  </p>
  <p>
    <%= m.text_field :title, placeholder: "Movie Title" %>
  </p>
  <p>
    <%= m.text_field :url, placeholder: "URL Here" %>
  </p>
  <p>
    <%= submit_tag "Save" %>
  </p>
  <%= link_to "Back to MovieFone", movies_url %>
<% end %>